* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: red;
  width: 100%;
  height: 100%;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  canvas {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid green;

    @media (aspect-ratio: 16/9) {
      width: 100%;
      height: 100%;
    }
  }
}

.turn-your-device {
  display: none;
}

@media (max-width: 900px) and (orientation: portrait) {
  .turn-your-device {
    background: green;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
