$mainFont: "Kelly Slab", cursive;
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.gif");
  background-size: contain;
  //   opacity: 0.5;
  margin: 0;
  @media (max-width: 1366px) {
    background-size: cover;
  }
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  canvas {
    height: 100%;
    width: auto;
    box-shadow: 0 0 10px 10px black;
    @media (min-width: 900px) and (max-width: 1366px) and (orientation: landscape) {
      width: 100%;
      height: auto;
    }

    @media (aspect-ratio: 16/9) {
      width: 100%;
      height: 100%;
    }
    transform: scale(5);
    animation: scale 1s ease-in forwards;
  }
}

.turn-your-device {
  display: none;
  font-family: $mainFont;
  font-size: calc(2vw + 2vh);
  text-align: center;
}

.device-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vh 4vh;
  border-radius: 20px;
  width: 80%;
  background: rgb(63, 60, 65);
  background: linear-gradient(
    110deg,
    rgba(63, 60, 65, 1) 0%,
    rgba(221, 221, 221, 1) 20%,
    rgba(164, 164, 164, 1) 45%,
    rgba(158, 158, 158, 1) 52%,
    rgba(173, 173, 173, 1) 58%,
    rgba(230, 230, 230, 1) 80%,
    rgba(124, 124, 124, 1) 100%
  );
  img {
    width: 80%;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .turn-your-device {
    background: black;
    background-image: url("/assets/background.gif");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      color: #505050;
      margin-top: calc(1vh + 1vw);
      width: 50%;
    }

    @media (min-width: 600px) {
      background-size: cover;
    }
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}
